:root {
  --font-family: "Playfair", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Barlow", sans-serif;

  --white: #fafafa;
  --black: #000;
  --general: #2f2e2e;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.container_inner {
  max-width: 1241px;
  margin: 0 auto;
}

.title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 65px;
  text-align: center;
  color: var(--general);
}

.p_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 19px;
  color: var(--general);
}

/* Меню и навигация */
.label {}

.menu_ContainerFlex {
  display: flex;
  max-width: 1241px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 47px 15px;
}

.menu_Logo {
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 42px;
  color: var(--general);
}

.menu_containerLink {
  display: flex;
  align-items: center;
  gap: 80px;
}

.menu_containerLink ul {
  display: flex;
  max-width: 580px;
  width: 100%;
  gap: 95px;
  align-items: center;
}

.menu_link {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: var(--general);
  padding: 5px;
  border: 2px solid #fff;
  transition: all 0.1s ease;
}

.menu_link:hover {
  border-bottom: 3px solid #000;
}

.menu_icon:hover {
  scale: 1.3;
  transition: all 0.5s ease;
}

/* Header */
.label {}

.header {
  margin-top: 44px;
}

.headbox {
  position: relative;
}

.header_img {
  background-image: url(img/header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1150px;
  width: 100%;
  height: 739px;
  margin-left: auto;
}

.header_infoContainer {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 691px;
  width: 100%;
  height: 550px;
  background: linear-gradient(91deg, rgba(244, 246, 245, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%);
}

.header_infoBlock {
  max-width: 436px;
  margin: 136px auto;
}

.header_title {
  text-align: left;
}

.header_text {
  font-family: var(--second-family);
  font-weight: 200;
  font-size: 32px;
  color: var(--general);
}

/* Our Sevices */
.label {}

.servicebox {
  background: rgba(37, 77, 77, 0.2);
  padding-bottom: 77px;
}

.ourServices_title {
  padding: 14px 0;
}

.ourServices_infoBlockFlex {
  display: flex;
  justify-content: space-around;
  margin-top: 24px;
}

.ourServices_CardIcon {
  display: block;
  margin: 0 auto;
}

.ourServices_CardName {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 27px;
  text-align: center;
  color: var(--general);
}

.ourServices_CardText {
  text-align: center;
}

/* About Us */
.label {}

.aboutUs {
  padding-top: 76px;
}

.aboutUs_ContainerFlex {
  display: flex;
  gap: 87px;
}

.aboutUs_Img {
  display: block;
  max-width: 735px;
  width: 100%;
  object-fit: contain;
}

.aboutUs_blockInfo {
  max-width: 735px;
}

.aboutUs_blockInfoTitle {
  /* margin-top: 62px; */
  text-align: left;
}

.aboutUs_blockInfoText {
  margin-top: 19px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 35px;
  line-height: 50px;
  color: var(--general);
}

.aboutUs_blockInfoLink {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 24px;
  color: var(--general);
  display: inline-block;
  margin-top: 42px;
}

.aboutUs_blockInfoLink:hover {
  scale: 1.1;
  transition: all 1s linear;
}


/* Our Projects */
.label {}

.ourProjects {
  padding-top: 90px;
}

.ourProjects_title {
  text-align: left;
}

.ourProjects_box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 65px;
  justify-items: center;
  gap: 85px 100px;
}

.ourProjects_cardTextOne,
.ourProjects_cardTextTwo {
  text-align: center;
  margin-top: 12px;
}

.ourProjects_cardTextTwo {
  margin-top: 0;
}

/* Testimonial */
.label {}

.testimonial {
  padding-top: 85px;
  padding-bottom: 150px;
}

.testimonial_box {
  display: flex;
  margin-top: 70px;
  gap: 125px;
}

.testimonial_boxCard {
  display: flex;
  gap: 30px;
}

.testimonial_boxCard img {
  display: block;
  max-width: 310px;
  width: 100%;
  object-fit: contain
}

.testimonial_boxCardName {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 31px;
  color: var(--general);
  margin-top: 16px;
}

.testimonial_boxCardText {
  max-width: 307px;
  margin-top: 16px;
}

/* Footer */
.label {}

.footer_boxBg {
  background-color: #2E2F32;
  padding-bottom: 50px;
}

.footer_infoBoxFlex {
  display: flex;
  max-width: 1241px;
  margin: 0 auto;
  justify-content: space-between;
}

.footer_contactBoxOneLogo {
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 42px;
  color: var(--white);
  margin-top: 47px;
  margin-bottom: 10px;
}

.footer_contactBoxTwoTitle,
.footer_locationTitle {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 24px;
  color: var(--white);
  margin-top: 55px;
  margin-bottom: 15px;
}

.footer_contactBoxOneText,
.footer_contactBoxTwoText {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 171%;
  color: var(--white);
}

.footer_contactBoxOneText {
  max-width: 300px;
  margin-bottom: 55px;
}

.footer_contactBoxTwoText {
  max-width: 201px;
  margin-bottom: 15px;
}

.footer_contactBoxOneIcons {
  display: flex;
  gap: 35px;
}

.footer_contactBoxOneIcons img:hover {
  scale: 1.5;
  transition: all 0.3s ease;
}

.label {}

.label {}

.label {}

@media screen and (max-width: 1280px) {
  .footer_infoBoxFlex,
  .ourProjects,
  .aboutUs,
  .testimonial {
    padding: 55px 15px 15px;
  }

  .ourProjects_title,
  .aboutUs_blockInfoTitle {
    text-align: center;
  }

  .ourProjects_box {
    grid-template-columns: 1fr 1fr;
    gap: 50px 0;
  }
  
  .aboutUs_ContainerFlex {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
  }

  .testimonial_box {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }

  .testimonial_boxCard {
    justify-content: space-between;
    max-width: 735px;
    width: 100%;
  }

  .testimonial_boxCardInfo {
    max-width: 307px;
  }
}

@media screen and (max-width: 1024px) {
  .menu_containerLink {
    gap: 50px;
  }

  .menu_containerLink ul {
    gap: 50px;
  }
  .footer_infoBoxFlex{
    gap: 20px;
  }
}

.label {}
@media screen and (max-width: 768px) {
  .menubox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding-bottom: 7px;
  }
  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .burger-menu span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--general);
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  /* Анимация для бургера при активном состоянии */
  .burger-menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
  }

  .burger-menu.active span:nth-child(2) {
    opacity: 0;
  }

  .burger-menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }
  /* Конец анимации */

  .menu_ContainerFlex {
    position: relative;
    padding: 0 15px;
  }

  .menu_containerLink {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
  }

  .menu_containerLink.active {
    display: flex;
  }

  .menu_linkall {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0 auto;
  }
  .header_infoBlock{
    padding: 0 15px;
  }

  .ourProjects_box {
    grid-template-columns: 1fr;
  }

  .footer_infoBoxFlex {
    flex-wrap: wrap;
    justify-content: center;
  }

}